form {
    height: 100%;
    border: 2px solid #efefef;
    padding: 17px;
    border-radius: 30px;
    background: aliceblue;

    p {
        color: red;
    }

    label {
        font-size: 18px;
    }

    textarea {
        min-height: 130px;
    }
}

@keyframes screw {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}